<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reelyactive.blescanner">

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:name=".ReelyAwareApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BleSdkScanActivity"
            android:label="@string/advanced"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ReelyAwareScanActivity"
            android:label="@string/simple"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.reelyactive.blesdk.service.BleService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>
